body {
  background: rgb(57, 58, 54);
}

* {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.timersBlock {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 40px;
  background-color: rgb(64, 113, 121);
  border-radius: 10px;
}

.clock {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bolder;
  color: aliceblue;
}

.btnBlock {
  display: flex;
}
.btnBlock button {
  width: 100px;
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: transparent;
  border-width: 3;
  border-color: rgb(5, 252, 252);
  color: rgb(5, 252, 252);
  font-size: 17px;
  font-weight: bolder;
}

.btnBlock button:hover {
  background: rgb(91, 248, 227);
  color: rgb(55, 66, 65);
}
